<mat-toolbar color="primary">
 <!--<span><img src="/assets/images/logo.png" height=30 width=41></span>-->
 <a mat-button routerLink="/home"><span class="fa fa-home fa-lg"></span> Home</a>
 <a mat-button routerLink="/stats"><span class="fa fa-star fa-lg"></span> Stats</a>
 <a mat-button routerLink="/photos"><span class="fa fa-photo fa-lg"></span> Photos</a>
 <a mat-button routerLink="/contact"><span class="fa fa-address-card fa-lg"></span> Contact</a>
</mat-toolbar>

<div class="container jumbotron"
 fxLayout="row"
 fxLayout.sm="column"
 fxLayout.xs="column"
 fxLayoutAlign.xs="start center"
 fxLayoutAlign.sm="start center"
 fxLayoutAlign.gt-sm="center center"
 fxLayoutGap="10px">
 <div fxFlex fxFlex.gt-sm="50%">
 <h1>CrickStats</h1>
 <p>World Number 1 cricket statics web site</p>
 </div>
 <div fxFlex fxFlex.gt-sm="20%">
 <img width='120px' src="https://upload.wikimedia.org/wikipedia/en/d/d9/International_Cricket_Council_%28logo%29.svg" alt="Logo">
 </div>
 <div fxFlex></div>
</div>