<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">

  <div fxFlex>
    <div>
        <h3>Contact Us</h3>
        <hr>
    </div>
  </div>

  <div fxFlex='40'>
    <h3>Location Information</h3> 
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="50" fxFlexOffset="20px">
        <h4>Our Address</h4>
        <address>
          Street 69<br>
          Dubai Sports City,  Sh Mohammed<br>
          Bin Zayed Road<br>
          Dubai<br>
          <i class="fa fa-phone"></i>: +971 4 3828800<br>
          <i class="fa fa-fax"></i>: +971 4 3828600<br>
          <i class="fa fa-envelope"></i>: 
                <a href="mailto:enquiry@icc-cricket.com">enquiry@icc-cricket.com</a>
        </address>
        <p></p>
        <div>
          <a mat-raised-button href="tel:+85212345678"><i class="fa fa-phone"></i> Call</a>
          <a mat-raised-button><i class="fa fa-skype"></i> Skype</a>
          <a mat-raised-button href="mailto:confusion@food.net"><i class="fa fa-envelope-o"></i> Email</a>
        </div>
        </div>

      <div fxFlex="40">
        <h4>Map of our Location</h4>
      <img width="200px" src="https://www.researchgate.net/profile/Khaled-Galal-Ahmed/publication/301913108/figure/fig7/AS:667074561052684@1536054377251/Dubai-City-and-Al-Barshaa-North-District-Source-Google-Maps.png">
      </div>
    </div>
  </div>

</div>